
@{
    ViewData["Title"] = "SuccessfulCheckOut";
}

<div class="alet alert-info">

    
    <p>Sipariş Başarı İle Tamamlandı</p>
    <p>Sipariş no : @ViewBag.orderId</p>

</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Anasayfa</a>

